// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project-list{
	border-collapse: separate;
	}
.project-list th{
	text-align: left;
	border-bottom: 1px solid lightgrey;
}
.project-list td{
	margin-right :10px;
}